
<h1><%= @business.name %>  </h1>

<h2>Average Covid Safety: <%= @business.avg_covid %> </h2>

<p><%= @business.location %></p>
<p><a href="<%= @business.website_url %>"><%= @business.website_url %></a></p>
<p><%= @business.phone_number %></p>

<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@business.latitude},#{@business.longitude}&key=#{"AIzaSyBuRo_JREUcyWcyL7iH4AYSrA-XRqvlqgc"}", alt: "Map" %>
</p>

<div class="business-img">
  <img src="<%= @business.img_url %>">
</div>


<% @business.sorted_reviews.each do |review| %>
<li>
    <p>Description:<%= review.description %></p>
    <p>Covid Index Rating: <%= review.covid_index %></p>
    <p>User: <%= review.user.name %></p>
    </li>
<% end %>


<% if @current_user %>
       <%= button_to "Write a new Review", new_review_path, method: :get %>
      <% else %>
        <ul>To leave a review of a restaurant please <%= link_to "Sign Up", new_user_path %></ul>
      <% end %>
