
<h1><%= @business.name %></h1>

<p><%= @business.location %></p>
<p><a href="<%= @business.website_url %>"><%= @business.website_url %></a></p>
<p><%= @business.phone_number %></p>

<img src="<%= @business.img_url %>">



<% @business.reviews.each do |review| %>
<li>
    <p>Description:<%= review.description %></p>
    <p>Covid Index Rating: <%= review.covid_index %></p>
    <p>User: <%= review.user.name %></p>
    </li>
<% end %>


<% if @current_user %>
       <%= button_to "Write a new Review", new_review_path, method: :get %>
      <% else %>
        <ul>To leave a review of a restaurant please <%= link_to "Sign Up", new_user_path %></ul>
      <% end %>
