<div class="form-container">

  <%= form_for :session, url: login_path do |f| %>
    <div class="form-input">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <br>
    <div class="form-input">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <br>
    <%= f.submit class: "form-btn", value: "Submit" %>
  <% end %>
</div>