<h1><%= @user.name %></h1>
<p><%= @user.email %></p>



<% @user.reviews.each do |review| %>
    <li>
    <p>Business: <%=link_to review.business.name, business_path(review.business) %></p>
    <p>Description:<%= review.description %></p>
    <p>Covid Index Rating: <%= review.covid_index %></p>
    </li>
<% end %>