<h1>Welcome to the Covid Business Safety Website</h1>
<h3>You'll find Businesses in the NY metro area here that have been reviewed by other Users</h3>

<% if @current_user %>
<h1> Welcome <%= @current_user.name%></h1>
<li>Check Out businesses reviewed <%= link_to "Businesses", businesses_path %></li>
<li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li> 
<% else %>
<li>Check Out businesses reviewed <%= link_to "Businesses", businesses_path %></li>
<li><%= link_to "Login", new_login_path %></li>
<li><%= link_to "Sign Up", new_user_path %></li>
<% end %>

        

