<!DOCTYPE html>
<html>
  <head>
    <title>Covid Business Safety</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= image_tag("logos/website logo.png", width: '100px', length: '100px') %>

  <% if controller.controller_name != 'pages' %>
    <ul class="nav">

        <li><%= link_to "Home", root_path %></li> 

      <% if @current_user %>
          <li class="right">Welcome, <%= @current_user.name %></li>
          <li><%= link_to "Your Profile Page", user_path(@current_user.id) %></li>
          <li><%= link_to "About the COVID Index Numbers", pages_about_path %>
          <li><%= link_to "Add Review", new_review_path %></li>
          <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li> 
      <% else %>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  <% end %>

   
 
    <div class="container">
    <%= yield %> 
    </div>
</header>
  </body>
</html>
